body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Game {
  margin: auto;
  width: 676px;
  display: flex;
  margin-bottom: 60px;
  margin-top: 60px;
}

.Game img {
  width: 400px;
}

.Keyboard {
  margin: auto;
  display: flex;
  width: 676px;
  flex-wrap: wrap;
}

.Letter button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  background: #E1ECF4;
  border: 1px solid #7AA7C7;
  border-radius: 3px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #39739D;
  margin: 6px;
}

.Letter button:hover {
  background: #edf4f9;
  color: #39739D;
}

.Letter button:disabled,
.Letter button[disabled] {
  background: #9FAAB5;
  color: #798A9F;
}